body {
  margin: 0px;
  color: 
}

canvas {
  background-color: rgb(0, 0, 0);
  background-image: url("https://cdn.mos.cms.futurecdn.net/9C64Ni92Xkx59rFnGpnVGa.jpg");

  margin: 20px;
}

img {
  display: none;
}
